h1,h2{
    font-family: 'MuseoSans_xFat';
}

.home-list li{
    float: left;
}
.answers-con{
    margin-left:2rem;
}
.questions-con{
    margin-top: .75rem;
}
.add-question{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.question-hide-type-text .input label{
    display: none;
}
.add-class{
    margin-top: 2rem;
}
.button{
    padding: .6rem;
}
.question-block{
    margin-bottom: 2rem !important;
}

.answers-ol li{
    list-style-type: inherit;
}

/*----------------------------User Questions CTP--------------------------------------*/
.user-list-of-classes{
   margin-bottom: 1rem;
}
.delete-answer{
    list-style: none;
}
.question-answer{
    list-style: none;
}
/*----------------------------UsersID CTP--------------------------------------*/
.not-login-classes{
    position: absolute;
    left:40%;
}